<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EzPsChris.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EzPsChris.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <EzPsChris.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>ripinalis2</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>malefice</value>
            </setting>
            <setting name="HomeUrl" serializeAs="String">
                <value>https://eztv.ag/</value>
            </setting>
            <setting name="LoginUrl" serializeAs="String">
                <value>https://eztv.ag/login/</value>
            </setting>
            <setting name="DomainName" serializeAs="String">
                <value>.eztv.ag</value>
            </setting>
        </EzPsChris.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EzPsChris.Properties.Settings>
            <setting name="IsLoggedIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowToMonitor" serializeAs="String">
                <value>Shows</value>
            </setting>
            <setting name="ImdbShows" serializeAs="String">
                <value>ImdbShows</value>
            </setting>
        </EzPsChris.Properties.Settings>
    </applicationSettings>
</configuration>
